@import (reference) "../../styles/var.less";

.page {
	display: flex;
	flex-direction: column;
}
.main-container {
	flex: 1;
	position: relative;
	.line-index {
		position: absolute;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		pointer-events: none;
		padding-left: 36px;
		.line-index__inner {
			font-size: 13px;
			line-height: 30px;
		}
	}

	.absolute-fill-countdown-layer {
		position: absolute;
		z-index: 3;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, .2);
		.countdown-number {
			font-size: 100px;
			font-weight: bolder;
			margin-bottom: 120px;
		}
	}
}

.scroller-indicator {
	position: relative;
	height: 50px;
	background-image: 
	url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200v16L9%208z%22%20fill%3D%22%2311c95b%22%2F%3E%3C%2Fsvg%3E),
	url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%200v16L3%208z%22%20fill%3D%22%2311c95b%22%2F%3E%3C%2Fsvg%3E);
	background-position: left center, right center;
	background-repeat: no-repeat;
	opacity: .76;
}

.scroller-indicator::before,
.scroller-indicator::after {
	display: none;
}

.full-lyric-container {
	padding-left: 36px;
	position: relative;
	& .start-icon {
		width: 36px;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		& .weui-icon {
			margin-left: 4px;
		}
	}
}

.full-lyric {
	white-space: nowrap;
	display: inline-block;
	color: @theme-color-light;
	padding-right: 16px;
	position: relative;
	line-height: 24px;
}
[data-weui-theme=dark] .full-lyric {
	color: @theme-color-dark;
}

.action-container {
	height: 100%;
	position: relative;
}
.lyric-scroller-picker-view,
.lyric-player-scroll-view-container {
	height: 100%;
	background-color: @theme-status-light;
}
.lyric-player-scroll-view-container {
	background-color: transparent;
}

.player-indicator {
	height: 94px;
}
.player-mask {
	opacity: 0;
}
.player-indicator::before,
.player-indicator::after {
	opacity: 0;
}

.lyric-time-line-item-outer {
	display: flex;
	flex-direction: column;
	padding: 12px 0;
	&:last-child {
		padding-bottom: 300px;
	}
	.time-wrap-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: center;
		padding: 0 4px;
		.time-text-cell {
			color: #000;
			white-space: nowrap;
			transform-origin: center;
			height: 20px;
			padding: 0 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			background-color: rgba(125, 125, 125, .12);
			text {
				font-size: 14px;
			}
		}
	}
	.lyric-wrap-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		overflow: hidden;
		.lyric-wrap-inner {
			padding: 0 12px;
			line-height: 24px;
		}
	}
}

[data-weui-theme=dark] .lyric-time-line-item-outer {
	.time-wrap-container {
		.time-text-cell {
			background-color: rgba(165, 165, 165, .64);
			color: #cdcfcc;
		}
	}
	.lyric-wrap-container {
		color: #fff;
	}
}

.lyric-time-line-item-outer.activated {
	.time-text-cell {
		color: @theme-status-light;
		background-image: linear-gradient(to bottom, @theme-color-dark, @theme-color-light);
	}
	.lyric-wrap-container {
		position: relative;
		overflow: hidden;
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 200%;
			height: 100%;
			transform: translateX(-50%);
			background-image: radial-gradient(circle at center, fadeout(@theme-color-light, 20%), fadeout(@theme-color-light, 100%) 100%);
			animation: glow 500ms forwards linear;
			z-index: -1;
		}
	}
}

[data-weui-theme=dark] .lyric-time-line-item-outer.activated {
	.time-text-cell {
		color: @theme-status-dark;
	}
	.lyric-wrap-container {
		&::after {
			background-image: radial-gradient(circle at center, fadeout(@theme-color-dark, 20%), fadeout(@theme-color-dark, 100%) 100%);
		}
	}
}


[data-weui-theme=dark] .lyric-scroller-picker-view {
	background-color: @theme-status-dark;
}
.floating-action-button-container {
	position: absolute;
	height: 80px;
	left: 0;
	right: 0;
	bottom: 20px;
	display: flex;
	justify-content: center;
}
.floating-action-button {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-image: linear-gradient(to bottom right, fadeout(@theme-color-light, 10%), fadeout(@theme-color-dark, 10%));
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid @theme-status-light;
	box-shadow: 0 5px 8px fadeout(@theme-color-light, 60%);
	position: relative;
	overflow: hidden;
}
[data-weui-theme=dark] .floating-action-button {
	border-color: @theme-status-dark;
	box-shadow: 0 5px 8px fadeout(@theme-color-dark, 78%);
}
.imported-bg-audio-progress-layer {
	position: absolute;
	left: -2px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.floating-action-button-container::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	box-sizing: border-box;
	border: 2px solid @theme-status-light;
	box-shadow: 1px 2.5px 2px rgba(0, 0, 0, .2);
}
[data-weui-theme=dark] .floating-action-button-container::after {
	border-color: @theme-status-dark;
}

// 等待开始录制
.floating-action-button-container.status-0::after {
	background-color: green;
}
// 正在录制
.floating-action-button-container.status-1::after,
.floating-action-button-container.status-2::after {
	background-color: red;
	animation: status-blink 2s none infinite;
}
// 暂停
.floating-action-button-container.status-3::after {
	background-color: green;
	animation: status-blink 2s none infinite;
}
// 录制完毕
.floating-action-button-container.status-4::after {
	background-color: silver;
}
// 录制错误
.floating-action-button-container.status-5::after {
	background-color: goldenrod;
}

.floating-sub-func-btn,
.floating-button {
	position: absolute;
	width: 34px;
	height: 34px;
	background-color: rgba(125, 125, 125, .64);
	border-radius: 17px;
	top: 15px;
	right: 80px;
	display: none;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	box-sizing: border-box;
	box-shadow: 1.5px 2px 3px rgba(125, 125, 125, .34);
}

.floating-button {
	width: 10em;
	height: 28px;
	border-radius: 4px;
	display: block;
	white-space: nowrap;
	font-size: 14px;
	right: unset;
	top: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.floating-button.import-message-audio {
	box-shadow: 0 1px 1.5px rgba(125, 125, 125, .34);
	z-index: 9;
}

[data-weui-theme=dark] .floating-sub-func-btn,
[data-weui-theme=dark] .floating-button {
	background-color: rgba(165, 165, 165, .86);
}
.floating-sub-func-btn:hover,
.floating-button:hover {
	border: 2px solid @theme-status-dark;
}
[data-weui-theme=dark] .floating-sub-func-btn:hover,
[data-weui-theme=dark] .floating-button:hover {
	border: 2px solid @theme-status-light;
}
.floating-action-button-container.status-1 .pause-timer,
.floating-action-button-container.status-2 .pause-timer {
	display: flex;
}

.floating-action-button-container.status-3 .reset-timer {
	display: flex;
	right: unset;
	left: 80px;
}

.complete-percentange-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	z-index: 10;
}
.complete-percentange-progress::after {
	content: "";
	display: block;
	width: 100%;
	border-top: 1px solid greenyellow;
	transform: scaleY(.5);
	position: absolute;
	bottom: 0;
	z-index: 9;
	transform-origin: left;
}

[data-weui-theme=dark] .complete-percentange-progress::after {
	border-color: green;
}

.next-lyric-line .weui-icon {
	transform: rotate(-90deg);
}
.next-lyric-line:active {
	background-image: linear-gradient(to top left, fadeout(@theme-color-light, 10%), fadeout(@theme-color-dark, 10%));
	opacity: .85;
}

.lyric-item {
	padding: 0 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.lyric-item.recorded {
	color: @theme-color-light;
}
.lyric-item.recording::before,
.lyric-item.recording::after {
	animation: status-blink 2s none infinite;
	opacity: 1;
}
[data-weui-theme=dark] .lyric-item.recorded {
	color: @theme-color-dark;
}
.lyric-item::before {
	content: "‘ ";
	color: gray;
	opacity: .25;
}
.lyric-item::after {
	content: " ’";
	color: gray;
	opacity: .25;
}
.outer {
	position: relative;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: @theme-status-dark;
	transition: 200ms color linear;
}
[data-weui-theme=dark] .outer {
	color: @theme-status-light;
}
.outer.activated {
	color: @theme-color-light;
}
[data-weui-theme=dark] .outer.activated {
	color: @theme-color-dark;
	font-weight: bolder;
}

.fixed-bottom-player-controller-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	.single-line-lyric-scroller-align {
		position: relative;
		.single-line-lyric-scroller {
			content: "";
			display: flex;
			flex-direction: row;

			position: absolute;
			top: -45px;
			height: 45px;
			left: 0;
			right: 0;
			background-color: fadeout(@theme-status-light, 40%);
			backdrop-filter: blur(8px);
			.lyric-scroller-container {
				flex: 1;
				.inner {
					display: flex;
					position: absolute;
					left: 0;
					right: 45px;
					top: 0;
					flex-direction: column;
					transition: transform 80ms linear;

					.lyric-scroller-item {
						height: 45px;
						margin: 0 12px;
						position: relative;
						scroll-view {
							position: absolute;
							width: 100%;
							height: 100%;
							line-height: 45px;
							color: green;
						}
					}
				}
			}
			.edit-this-line-lyric-button {
				width: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&::after {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 10px;
					bottom: 10px;
					border-left: 1px solid rgba(125, 125, 125, .6);
					transform: scaleX(.5);
				}
			}
			[data-weui-theme=dark] & {
				background-color: fadeout(@theme-status-dark, 50%);
			}
		}
	}
}

.controller-bar {
	height: 30px;
	margin: 30px 25px 0;
	position: relative;
	.lyric-periods-container {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		.orbit {
			height: 4px;
			flex: 1;
			z-index: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -1px;
				border-bottom: 1px solid green;
				transform: scaleY(.5);
			}
			& > view.has-lyric-period {
				position: relative;

				&::before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					border-left: 1px solid green;
					transform: scaleX(.5);
				}
			}
			& > view {
				display: flex;
				justify-content: center;
				align-items: center;
				& > a {
					display: block;
					position: relative;
					&::before {
						content: "";
						display: block;
						left: -6px;
						bottom: 10px;
						position: absolute;
						border: 6px solid transparent;
						border-top-color: #000;
					}
				}
			}
		}
	}
	movable-area {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		movable-view {
			width: 30px;
			height: 30px;
			.slide-button {
				width: 100%;
				height: 100%;
				transform-origin: center;
				box-shadow: 0 0 3px fadeOut(@theme-color-light, 40%);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				background-color: fadeOut(@theme-status-light, 45%);
				border: 1px solid green;
				display: flex;
				align-items: center;
				& .progress-bar-align {
					position: relative;
					&::after {
						position: absolute;
						content: "";
						width: 1e6px;
						height: 4px;
						right: 0;
						top: -2px;
						background-color: @bg-light;
						z-index: -1;
						[data-weui-theme=dark] & {
							background-color: fadeout(@bg-dark, 22%);
						}
					}
				}
				[data-weui-theme=dark] & {
					background-color: fadeOut(@theme-status-dark, 45%);
				}
			}
		}
	}
}

.controller-status-container {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	padding: 0 40px;
	color: #000;
}

[data-weui-theme=dark] .controller-status-container {
	color: #fff;
}

.controller-button-group {
	padding: 50px 0;
	.group {
		max-width: 245px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.circle-button {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			&:active {
				background-color: rgba(125, 125, 125, .34);
			}
			&.circle-outlined-button {
				border: 1px solid @theme-color-light;
				box-sizing: border-box;
			}
			&.large-button {
				height: 64px;
				width: 64px;
				&.audio-play-button {
					background-color: fadeOut(@theme-status-light, 50%);
					box-shadow: 0 0 3px fadeOut(@theme-color-light, 40%);
					&:active {
						background-color: rgba(125, 125, 125, .12);
					}
				}
				[data-weui-theme=dark] &.audio-play-button {
					background-color: transparent;
					box-shadow: 0 0 3px fadeOut(@theme-color-dark, 40%);
					&:active {
						background-color: rgba(125, 125, 125, .12);
					}
				}
			}
		}
	}
}

@keyframes status-blink {
	from {visibility: visible;}
	25% {visibility: hidden;}
	75% {visibility: hidden;}
	to {visibility: visible;}
}

@keyframes glow {
	from {
		transform: translateX(-50%);
	}
	35% {
		transform: translateX(-45%);
	}
	50% {
		transform: translateX(0%);
	}
	65% {
		transform: translateX(45%);
	}
	to {
		transform: translateX(50%);
	}
}