
/* theme light */
@theme-color-light: #11c95b;
@bg-light: #ededed;
@fg-light: #171717;
@sub-fg-light: #767676;
@theme-status-light: #ffffff;

/* theme-dark */
@theme-color-dark: #169436;
@bg-dark: #111111;
@fg-dark: #cfcfcf;
@sub-fg-dark: #868686;
@theme-status-dark: #000000;

@font-family: -apple-system-font, Arial, Helvetica Neue, sans-serif;