@import (reference) "styles/var.less";
 
.page, page {
	height: 100%;
	background-color: @bg-light;
	font-family: @font-family;
}

.weui-input__placeholder {
	font-family: @font-family;
}

.page[data-weui-theme=dark] {
	background-color: @bg-dark;
}

.weui-navigation-bar.no-placeholder-height .weui-navigation-bar__placeholder {
	display: none;
}

.weui-toast_text {
	word-break: break-all;
	padding: 0 10px;
}

/* weui patch */

.weui-actionsheet__cell:active,
.weui-dialog__btn:active {
	background-color: rgba(125, 125, 125, .12);
}